<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单详情</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link href="~/OrderPage/css/global.css" rel="stylesheet" />
    <link href="~/OrderPage/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/OrderPage/style.css" rel="stylesheet" />
    <script src="~/OrderPage/lib/jquery-2.1.4.min.js"></script>
    <script src="~/OrderPage/lib/judge.js"></script>
    <script src="~/OrderPage/script/common.js"></script>
</head>
@using EFModel;
@model Orders
@{ 
    string[] iStateName = { "付 款", "提醒卖家发货", "确认收货", "评 价" ,"已完成"};
}
<body class="has-head t-p-b">
    <div class="main">
        <section>
            <div class="t-details-mark t-bg-ff t-b-c clearfix">
                <span class="t-details-title-one">订单号：</span>
                <span class="t-c-6">@Model.sOrderNo</span>
            </div>
        </section>
        <section>
            <div class="t-details-mark t-bg-ff t-b-c clearfix">
                <span class="t-details-title-one">订单时间：</span>
                <span class="t-c-6">@Model.dBookTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
            </div>
        </section>
        @if (Model.iState > 0)
        {
        <section>
            <div class="t-details-mark t-bg-ff t-b-c clearfix">
                <span class="t-details-title-one">支付时间：</span>
                <span class="t-c-6">@Model.dPayTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
            </div>
        </section>
        }
        <section>
            <div class="t-details-address t-bg-ff t-b-c">
                <p class="clearfix">
                    <span class="t-details-title-one">收货人：</span>
                    <span class="t-details-title-one">@Model.sReceiver</span>
                    <span>手机号：@Model.sPhone</span>
                </p>
                <div class="t-address-one">
                    <span class="t-details-title-one" style="line-height:1rem">收货地址：</span>
                    <p class="t-f-12" style="line-height:0.65rem;padding:0.2rem 0.2rem 0.2rem 0">@Model.sAddress</p>
                </div>
            </div>
        </section>
        <section>
            <div class="t-general-listing t-bg-ff t-m-t t-b-c t-b-t-c">
                <div class="t-listing-Box clearfix t-order-bg">
                    <i class="t-picture" style="background-image: url('@Model.sGoodsPicture')"></i>
                    <div class="t-listing-right">
                        <h3>@Model.sGoodName</h3>
                        <p class="t-size">@Model.sGoodsInfo</p>
                        <p class="t-listing-money">&yen; @Model.dSinglePrices</p>
                        <span class="t-number">&times;@Model.iGoodsCount</span>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="t-address-one t-bg-ff t-m-t t-b-c t-b-t-c">
                <span class="t-details-title-one">商品金额：</span>
                <p class="t-c">&yen; @Model.dPrices</p>
            </div>
        </section>
        <section>
            <div class="t-bg-ff t-m-t t-b-c t-b-t-c t-address-message-Box">
                <p style="padding-bottom: 0.2rem">给卖家留言：@(Model.sOrderRemark==string.Empty?"无":Model.sOrderRemark)</p>
               
            </div>
        </section>
    </div>
    <footer class="t-h">
        @if (Model.iState == 0)
        {
        <div class="t-address-down flex-wrap">
            <a  class="flex-item-1 t-active t-c cancel" data-id="@Model.ID">取消订单</a>
            <a  class="flex-item-1 t-payment operate" data-iState="@Model.iState" data-id="@Model.ID">@iStateName[Model.iState]</a>
        </div>
        }
        else
        {
            <div class="t-address-down flex-wrap" style="width:50%;float:right">
                <a  class="flex-item-1 t-payment operate" data-iState="@Model.iState" data-id="@Model.ID">@iStateName[Model.iState]</a>
            </div>
        }
    </footer>
</body>
</html>
<script src="~/Scripts/mylib/common.client.js"></script>
<script type="text/javascript">
    $(function () {
        domin.bingEvent();
    });

    var domin = function (obj) { return obj; }(new function () {

        //订单的相关操作
        function operateOrder(element) {
            //0-待支付 1-待发货 2-已收货 3-退货
            var sOrderId = $(element).attr("data-id");
            var iState = parseInt($(element).attr("data-iState"));//订单状态
            switch (iState) {
                case 0: orderPay(sOrderId); break;
                case 1: orderTip(sOrderId); break;
                case 2: confrim(sOrderId, element); break;
                case 3: location.href = "/Mobile/Orders/Comment?sOrderId=" + sOrderId;break;
            }
        }

        //提醒卖家发货
        function orderTip(sOrderId) {
            client.ajax.ajaxRequest("/Mobile/Orders/OrderTip",
                                                 "sOrderId=" + sOrderId,
                                                  function (r) {
                                                      dialog.tip(r.info);
                                                  });
        }

        //确认收货
        function confrim(sOrderId, element) {
            client.ajax.ajaxRequest("/Mobile/Orders/Confirm",
                                     "sOrderId=" + sOrderId,
                                      function (r) {
                                          dialog.tip("收货成功");
                                          location.href = "评价页面";
                                      });
        }

        //订单支付
        function orderPay(sOrderId) {
            dialog.loading("亲,正在跳转支付...");
            client.ajax.ajaxRequest("/Mobile/Orders/Pay",
                                    "sOrderId=" + sOrderId,
                                     function (r) {
                                         location.href = r.data;
                                         dialog.closeLoading();
                                     });
        }


        //取消订单
        function cancelOrder(element) {
            dialog.confrim("亲,您确认要取消该订单？",
                {
                    "text": "确定", fn: function () {
                        client.ajax.ajaxRequest("/Mobile/Orders/CancelOrder",
                                                 "sOrderId=" + $(element).attr("data-id"),
                                                 function (r) {
                                                     dialog.tip("取消成功");
                                                     setTimeout(function () {
                                                         location.href = "/OrderPage/MyOrder.html";
                                                     }, 1500);
                                                 })
                    }
                });
        }


        //事件的绑定
        function bingEvent() {
            $('.cancel').on("click", function () { cancelOrder($(this)) });
            $('.operate').on("click", function () { operateOrder($(this)) });
        }

        return {
            bingEvent: bingEvent
        }

    });
</script>
